/*  -------------------------------------------------------------
HEADER
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.header{
    width: 100%;
    background: var(--dark-20);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 50px;
    box-shadow: 0 2px 5px var(--shadow-2);
    position: fixed;
    z-index: 2;
}

/*  Menu
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu nav ul li{
    display: inline-flex;
    height: 50px;
    align-items: flex-end;
}

.menu_item{
    color: var(--gray-10);
    font-size: 14px;
    padding: 0 15px;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
    background: var(--dark-10);
}

.menu_item i{
    margin-right: 5px;
}

/*  Logo
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.logo{
    margin-right: 50px;
}

.logo a{
    display: flex;
    align-items: center;
    font-size: 30px;
    color: var(--gray-10);
    font-weight: 600;
    text-transform: uppercase;
}

.logo a img{
    width: 30px;
    margin-right: 5px;
}

.logo a span sub{
    font-size: 15px;
    font-weight: 500;
    text-transform: lowercase;
}

/*  User account
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.account{
    display: flex;
    align-items: center;
    justify-self: center;
}

.user-config{
    width: 30px;
    height: 60px;
    display: flex;
    margin: 0 5px;
}

.user-options{
    height: 33px;
    width: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background: var(--dark-10);
    color: var(--gray-10);
    cursor: pointer;
}

.user-options i{
    font-size: 1.6rem;
}

.menu-phone{
    margin: 0 20px;
    display: none;
}

/*  User Options
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.wraper-options{
    position: absolute;
    top: 60px;
    background: var(--dark-20);
    width: 300px;
    right: 45px;
    border-radius: 5px;
    padding: 20px;
    color: var(--gray-40);
    box-shadow: 0 12px 28px 0 var(--shadow-2);
    display: none;
}

.wraper-options.show{
    display: block;
}

.wraper-options p{
    margin: 0;
}

.wrapper-options-name{
    font-size: 24px;
    font-weight: 700;
}

.wrapper-options-email{
    font-size: 12px;
}

.wrapper-options-menu{
    margin: 30px 0px 10px 0px;
    padding: 0;
}

.wrapper-options-menu li a{
    display: block;
    margin: 5px 0;
    padding: 10px 5px;
    transition: background .15s;
    border-radius: 5px;
    font-size: 1.6rem;
}

.wrapper-options-menu li a i{
    background: var(--dark-10);
    border-radius: 100px;
    margin-right: 5px;
    padding: 5px;
}

.wrapper-options-menu li a:hover{
    background: var(--dark-10);
}

/*  -------------------------------------------------------------
DASHBOARD
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.dashboard{
    width: 100%;
    height: 100vh;
    background: var(--white-light);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    padding-bottom: 12px;
}

.dash-panel{
    border-radius: 15px 15px 0px 0px;
    padding-top: 50px;
}

.dash-panel:nth-child(1){
    grid-column: 1/3;
}

.dash-panel-header{
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

.dash-panel-header-title{
    font-size: 25px;
    margin: 0;
    font-weight: 600;
    color: var(--dark-10);
}

.dash-panel-content{
    background: var(--white-00);
    max-height: calc(100vh - 150px);
    border-radius: 10px;
    padding: 25px;
    overflow: auto;
    scrollbar-width: thin;
}

.dash-panel-content-table{
    overflow: hidden;
}

.panel_date_range{
    margin-right: 20px;
    font-size: 1rem;
    color: var(--dark-10);
}

/*  -------------------------------------------------------------
BUTTONS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.btn{
    padding: 8px 16px;
    border: 1px solid var(--gray-30);
    color: inherit;
    border-radius: 100px;
    cursor: pointer;
}

.btn span{
    margin: 0 3px;
}

/*  Legend
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.dash-panel-header-legend{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.dash-panel-header-legend-item{
    position: relative;
}

.dash-panel-header-legend .badge:nth-child(1) i{
    color: var(--green-10);
}

.dash-panel-header-legend .badge:nth-child(2) i{
    color: var(--red-00);
}

.dash-panel-header-legend .badge{
    font-size: 1.2rem;
    margin: 0;
    margin-left: 5px;
}

.dash-panel-header-legend i{
    font-size: 18px;
}

.badge-number{
    position: absolute;
    top: -10px;
    right: 0;
    color: var(--white-00);
    height: 20px;
    width: 10px;
}

/*  -------------------------------------------------------------
BADGES
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.badge{
    background: var(--gray-20);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    border-radius: 100px;
}

/*  -------------------------------------------------------------
COLORS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.bg-red{
    background: var(--red-00);
}

.bg-green{
    background: var(--green-10);
}

.c-green{
    color: var(--green-10);
}

.c-red{
    color: var(--red-00);
}

/*  -------------------------------------------------------------
PANEL EDITIONS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.table-head{
    width: 100%;
    border-bottom: 1px dashed var(--gray-10);
}

.table-head tr th{
    font-weight: 100;
    font-size: 14px;
    padding: 10px 0;
    text-align: left;
}

.dash-panel-table{
    overflow: auto;
    max-height: calc(100vh - 240px);
    background: #fff;
}

.dash-panel-table img{
    width: 24px
}

.dash-panel-table table{
    width: 100%;
}

.dash-panel-table tr td{
    font-size: 12px;
    font-weight: 100;
    padding: 20px 0;
    color: var(--dark-00);
    border-bottom: 1px solid var(--black-alpha-05);
}

.dash-panel-content-page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn-report-edition{
    padding: 3px;
    font-size: 12px;
    width: 25px;
    height: 25px;
    color: var(--gray-50);
    cursor: pointer;
}

/*  -------------------------------------------------------------
PANEL PLIEGOS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/*  Cards
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.card{
    position: relative;
    width: 100%;
    background: inherit;
    border-radius: 10px;
    padding: 20px;
    color: var(--dark-00);
    margin-bottom: 25px;
    border: 1px solid var(--black-alpha-20);
    box-shadow: 0px 16px 38px var(--shadow-1);
}

.card p{
    margin: 0;
}

.card-header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.card-header-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
}

.card-header-legend{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card-header-legend span{
    font-size: 1rem;
    color: var(--gray-50);
}

.card-content ul li{
    width: auto;
}

.card-content .preview{
    width: 100%;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content .preview img{
    width: 100%;
}

.card-footer{
    position: relative;
    border-top: 1px solid var(--white-alpha-10);
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-footer i{
    font-size: 2rem;
}

.card-icon{
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    padding: 5px;
    cursor: pointer;
    position: absolute;
}

.card-icon-top-left{
    top: -10px;
    left: -10px;
}

.card-icon-top-right{
    top: -10px;
    right: -10px;
}

.card-icon-bottom-left{
    bottom: -10px;
    left: -10px;
}

.card-icon-bottom-right{
    bottom: -10px;
    right: -10px;
}

.pliego-pages{
    padding: 0;
    margin: 20px 0 5px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 5px 0;
}

.pliego-pages li p{
    font-size: 11px;
    background: var(--black-alpha-10);
    color: var(--gray-50);
    width: 28px;
    height: 28px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-tag{
    max-width: 100%;
    font-size: 1.1rem;
    color: var(--gray-50);
}

.card-page{
    width: 46%;
    border: dashed 1px var(--gray-30);
}

/*  -------------------------------------------------------------
SCROLL BAR
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--gray-20);
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--gray-30);
}

::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar{
    width: 10px;
}

/*  -------------------------------------------------------------
MODALS
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/*  Overlay
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.modals{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--black-alpha-30);
    z-index: -1;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 500px;
    background: var(--white-00);
    border: 1px solid var(--black-alpha-60);
    border-radius: 10px;
    box-shadow: 0 28px 42px var(--shadow-3);
    padding: 20px;
}

.modal-header{
    padding: 0 20px;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid var(--black-alpha-15);
}

.modal-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 20px;
    width: 100%;
    border-top: 1px solid var(--black-alpha-15);
}








@media screen and (max-width: 1542px){
    .dashboard{
        background-color: var(--black-alpha-05);
    }
}

@media screen and (max-width: 1320px){
    .dashboard{
        background-color: var(--black-alpha-10);
    }
}

@media screen and (max-width: 1105px){
    .dashboard{
        background-color: var(--black-alpha-15);
    }
}

@media screen and (max-width: 1024px){
    .dashboard{
        background-color: var(--black-alpha-15);
    }
}

@media screen and (max-width: 930px){
    .dashboard{
        background-color: var(--black-alpha-15);
    }
}