/*  -------------------------------------------------------------
  FONTS
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/*  -------------------------------------------------------------
  DEFAULT
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
html{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    font-family: inherit;
}

body{
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

table{
    border-collapse: collapse;
}

:root {
    --dark-00: #495057;
    --dark-10: #343a40;
    --dark-20: #212529;
    --dark-30: #000000;
    --gray-00: #eeeeee;
    --gray-10: #e9ecef;
    --gray-20: #dee2e6;
    --gray-30: #ced4da; 
    --gray-40: #adb5bd;
    --gray-50: #6c757d;
    --shadow-1: rgba(0, 0, 0, 0.1);
    --shadow-2: rgba(0, 0, 0, 0.2);
    --shadow-3: rgba(0, 0, 0, 0.3);
    --shadow-5: rgba(0, 0, 0, 0.5);
    --shadow-8: rgba(0, 0, 0, 0.8);
    --black-alpha-05: rgba(0, 0, 0, 0.05);
    --black-alpha-10: rgba(0, 0, 0, 0.1);
    --black-alpha-15: rgba(0, 0, 0, 0.15);
    --black-alpha-20: rgba(0, 0, 0, 0.2);
    --black-alpha-30: rgba(0, 0, 0, 0.3);
    --black-alpha-40: rgba(0, 0, 0, 0.4);
    --black-alpha-50: rgba(0, 0, 0, 0.5);
    --black-alpha-60: rgba(0, 0, 0, 0.6);
    --black-alpha-80: rgba(0, 0, 0, 0.8);
    --white-alpha-05: rgba(255, 255, 255, 0.05);
    --white-alpha-10: rgba(255, 255, 255, 0.1);
    --white-alpha-20: rgba(255, 255, 255, 0.2);
    --white-alpha-30: rgba(255, 255, 255, 0.3);
    --white-alpha-40: rgba(255, 255, 255, 0.4);
    --white-alpha-50: rgba(255, 255, 255, 0.5);
    --white-alpha-60: rgba(255, 255, 255, 0.6);
    --white-alpha-80: rgba(255, 255, 255, 0.8);
    --white-light: #edf2fb;
    --white-00: #ffffff;
    --red-00: #ff5e5b;
    --green-10: #00A400;
}


/*  -------------------------------------------------------------
  HEADER
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.header{
    width: 100%;
    background: var(--dark-20);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 50px;
    box-shadow: 0 2px 5px var(--shadow-2);
    position: fixed;
    z-index: 2;
}

/*  Menu
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu nav ul li{
    display: inline-flex;
    height: 50px;
    align-items: flex-end;
}

.menu_item{
    color: var(--gray-10);
    font-size: 14px;
    padding: 0 15px;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
    background: var(--dark-10);
}

.menu_item i{
    margin-right: 5px;
}

/*  Logo
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.logo a{
    display: flex;
    align-items: center;
    font-size: 30px;
    color: var(--gray-10);
    font-weight: 600;
    text-transform: uppercase;
}

.logo a img{
    width: 30px;
    margin-right: 5px;
}

.logo a span sub{
    font-size: 15px;
    font-weight: 500;
    text-transform: lowercase;
}

/*  User account
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.account{
    display: flex;
    align-items: center;
    justify-self: center;
}

.user-config{
    width: 30px;
    height: 60px;
    display: flex;
    margin: 0 5px;
}

.user-options{
    height: 33px;
    width: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background: var(--dark-10);
    color: var(--gray-10);
    cursor: pointer;
}

/*  User Options
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.wraper-options{
    position: absolute;
    top: 60px;
    background: var(--dark-20);
    width: 300px;
    right: 45px;
    border-radius: 5px;
    padding: 20px;
    color: var(--gray-40);
    box-shadow: 0 12px 28px 0 var(--shadow-2);
    display: none;
}

.wraper-options.show{
    display: block;
}

.wraper-options p{
    margin: 0;
}

.wrapper-options-name{
    font-size: 24px;
    font-weight: 700;
}

.wrapper-options-email{
    font-size: 12px;
}

.wrapper-options-menu{
    margin: 30px 0px 10px 0px;
    padding: 0;
}

.wrapper-options-menu li a{
    display: block;
    margin: 5px 0;
    padding: 10px 5px;
    transition: background .15s;
    border-radius: 5px;
}

.wrapper-options-menu li a i{
    background: var(--dark-10);
    border-radius: 100px;
    margin-right: 5px;
    padding: 5px;
}

.wrapper-options-menu li a:hover{
    background: var(--dark-10);
}

/*  -------------------------------------------------------------
  DASHBOARD
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.dashboard{
    width: 100%;
    height: 100vh;
    background: var(--white-light);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
}

.dash-panel{
    border-radius: 15px 15px 0px 0px;
    padding-top: 50px;
}

.dash-panel:nth-child(1){
    grid-column: 1/3;
}

.dash-panel-header{
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

.dash-panel-header-title{
    font-size: 25px;
    margin: 0;
    font-weight: 600;
    color: var(--dark-10);
}

.dash-panel-content{
    background: var(--white-00);
    height: calc(100% - 90px);
    border-radius: 10px;
    padding: 25px;
}


/*  -------------------------------------------------------------
  BUTTONS
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.btn{
    padding: 8px 16px;
    border: 1px solid var(--gray-30);
    color: inherit;
    border-radius: 100px;
    cursor: pointer;
}

/*  Legend
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.dash-panel-header-legend{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.dash-panel-header-legend-item{
    position: relative;
}

.dash-panel-header-legend .badge:nth-child(1) i{
    color: var(--green-10);
}

.dash-panel-header-legend .badge:nth-child(2) i{
    color: var(--red-00);
}

.dash-panel-header-legend .badge{
    font-size: 10px;
    margin: 0;
    margin-left: 5px;
}

.dash-panel-header-legend i{
    font-size: 18px;
}

.badge-number{
    position: absolute;
    top: -10px;
    right: 0;
    color: var(--white-00);
    height: 20px;
    width: 10px;
}

/*  -------------------------------------------------------------
  BADGES
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.badge{
    background: var(--gray-20);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    border-radius: 100px;
}

/*  -------------------------------------------------------------
  COLORS
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.bg-red{
    background: var(--red-00);
}

.bg-green{
    background: var(--green-10);
}

/*  -------------------------------------------------------------
  PANEL EDITIONS
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.table-head{
    width: 100%;
    border-bottom: 1px solid var(--gray-30);
}

.table-head tr th{
    font-weight: 100;
    font-size: 14px;
    padding: 10px 0;
    text-align: left;
}

.dash-panel-table img{
    width: 24px
}

.dash-panel-table table{
    width: 100%;
}

.dash-panel-table tr td{
    font-size: 12px;
    font-weight: 100;
    padding: 10px 0;
    color: var(--dark-00);
    border-bottom: 1px solid var(--gray-10);
}

.btn-report-edition{
    padding: 3px;
    font-size: 12px;
    width: fit-content;
    color: var(--gray-50);
    cursor: pointer;
}

/*  -------------------------------------------------------------
  PANEL PLIEGOS
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/*  Cards
  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.card{
    width: 100%;
    background: var(--black-alpha-50);
    border-radius: 10px;
    padding: 20px;
    color: var(--gray-00);
    margin-bottom: 25px;
}

.card p{
    margin: 0;
}

.card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-header-title{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.card-header-legend{
    display: flex;
}

.card-header-legend span{
    font-size: 10px;
    margin-left: 10px;
}

.card-content ul li{
    display: inline-block;
}

.card-element-like{
    display: none;
}

.pliego-pages{
    padding: 0;
}

.pliego-pages li p{
    font-size: 12px;
    background: var(--dark-00);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}